html { -webkit-font-smoothing: antialiased; }

body {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    background: #ccc;
    color: #000;
    font-size: 12px;
}

.noMargin {
    margin-left: 0px !important;
}

a {
    color: #242424;
}

a:hover {
    color: #121212;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans" !important;
    font-weight: normal !important;
    color: #414141;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 20px;
    line-height: 40px;
}

h3 {
    font-size: 18px;
    line-height: 32px;
}

h4 {
    font-size: 13px;
    line-height: 30px;
}

h5 {
    font-size: 12px;
    line-height: 26px;
}

h6 {
    font-size: 11px;
    line-height: 24px;
}

hr {
    position: relative;
    margin: 20px 0;
    border: 0;
    border: none;
    height: 2px;
}

hr:before,
hr:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    top: 50%;
    left: 0;
}

hr:before {
    margin-top: -1px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(187,187,187,0) 0%, rgba(187,187,187,1) 10%, rgba(187,187,187,1) 90%, rgba(187,187,187,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(187,187,187,0)), color-stop(10%,rgba(187,187,187,1)), color-stop(90%,rgba(187,187,187,1)), color-stop(100%,rgba(187,187,187,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(187,187,187,0) 0%,rgba(187,187,187,1) 10%,rgba(187,187,187,1) 90%,rgba(187,187,187,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(187,187,187,0) 0%,rgba(187,187,187,1) 10%,rgba(187,187,187,1) 90%,rgba(187,187,187,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(187,187,187,0) 0%,rgba(187,187,187,1) 10%,rgba(187,187,187,1) 90%,rgba(187,187,187,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(187,187,187,0) 0%,rgba(187,187,187,1) 10%,rgba(187,187,187,1) 90%,rgba(187,187,187,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbbbbb', endColorstr='#00bbbbbb',GradientType=1 ); /* IE6-8 */

}

hr:after {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(221,221,221,0) 0%, rgba(221,221,221,1) 10%, rgba(221,221,221,1) 90%, rgba(221,221,221,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(221,221,221,0)), color-stop(10%,rgba(221,221,221,1)), color-stop(90%,rgba(221,221,221,1)), color-stop(100%,rgba(221,221,221,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(221,221,221,0) 0%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(221,221,221,0) 0%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(221,221,221,0) 0%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(221,221,221,0) 0%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#00dddddd',GradientType=1 ); /* IE6-8 */

}

/* upload preview */
#uploader {
    min-width: 500px;
    border: 1px solid #888;
    border-top: 1px solid #888;
    background: #ccc;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
    box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
}
#uploader .action-bar {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #888;
}
#uploader .action-bar a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    border-radius: 4px;
    background: #0081c2;
    color: #f4f4f4;
    text-decoration: none;
}
#uploader .action-bar a:hover {
    background: #71b2d0;
    cursor: auto;
}
#uploader .action-bar a.right {
    background: #dd4b39;
    float: right;
}
#uploader .action-bar a.right:hover {
    background: #d59392;
}
#uploader .msg {
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 10px 5px 0px 5px;
    font-size: 14px;
    font-weight: bold;
}
#uploader .preview-area{
    list-style:none;
}
#uploader .preview-area li{
    display: block;
    border-top: 1px solid #888;
    height: 48px;
    margin-left: -40px;
}
#uploader .preview-area li img{
    width: 48px;
    vertical-align: middle;
}
#uploader .preview-area li span{
    height: 25px;
    line-height: 25px;
    padding: 5px;
    display: inline-block;
}
#uploader .preview-area li a{
    height: 24px;
    line-height: 24px;
    padding: 5px;
    display: inline-block;
    float: right;
    margin-top: 15px;
}